/MVP_App
/VPN_Kill_Switch_service
/Chatter_Bot_Proto
/.idea
responses.json
Text_Analyser/note.txt
/MarkDown-_to_PDF/.idea
/MarkDown_to_PDF/.idea
/MD_to_PDF
Simple_BlackJack_Game/__pycache__/art.cpython-312.pyc
Snake_game/__pycache__/food.cpython-312.pyc
Snake_game/__pycache__/scoreboard.cpython-312.pyc
/Snake_game/__pycache__
/Snake_game/__pycache__
*.pyc
/Snake_game/__pycache__
/Snake_game/__pycache__
