VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/PYZ-00.toc
VPN_Kill_Switch_service/setup.py
VPN_Kill_Switch_service/requirements.txt
VPN_Kill_Switch_service/manifest.xml
VPN_Kill_Switch_service/installer.py
VPN_Kill_Switch_service/dist/VPN_KillSwitch_Config.exe
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/xref-VPN_KillSwitch_Config.html
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/warn-VPN_KillSwitch_Config.txt
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/VPN_KillSwitch_Config.pkg
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/PYZ-00.pyz
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/PKG-00.toc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/localpycs/struct.pyc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/localpycs/pyimod04_pywin32.pyc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/localpycs/pyimod03_ctypes.pyc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/localpycs/pyimod02_importers.pyc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/localpycs/pyimod01_archive.pyc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/EXE-00.toc
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/base_library.zip
VPN_Kill_Switch_service/build/VPN_KillSwitch_Config/Analysis-00.toc
VPN_Kill_Switch_service/build.bat
Text_Analyser/note.txt
/MVP_App
/.idea
/.idea
/Chatter_Bot_Proto
responses.json

